* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--white);
  color: var(--black);

  font-size: 1em;

  @media only screen and (min-width: 600px) {
    font-size: 1.4em;
  }
}
