svg {
  &.definitions {
    display: none;
  }
  circle,
  polygon,
  polyline,
  rect {
    stroke: var(--primary-color);
    stroke-width: 5;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: transparent;
    cursor: pointer;
    &:hover {
      filter: grayscale(1);
    }
  }

  circle {
    fill: var(--fill-color);
  }

  polygon,
  polyline,
  rect {
    stroke-width: 3;
    fill: var(--fill-color);
  }

  rect {
    fill: var(--primary-color);
  }

  .full {
    fill: var(--primary-color);
  }
}
