svg {
  &.definitions {
    display: none;
  }
  circle,
  polygon,
  polyline {
    stroke: var(--primary-color);
    stroke-width: 5;
    stroke-linejoin: round;
    fill: transparent;
    cursor: pointer;
    &:hover {
      filter: grayscale(1);
    }
  }

  polygon,
  polyline {
    stroke-width: 3;
  }
}
